<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../style.css">
    
</head>
<body>
{{>header}}
    {{>message}}
    <h1>its a fun to have you here guys</h1>
    <h2>{{main}}</h2>
    <br>
    <img src="https://handluggageonly.co.uk/wp-content/uploads/2017/05/iStock-509472000.jpg" >
  
</body>
</html>